main{
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 35vw;
}
form input{
    margin: 10px;
}

form input[type='submit']{
    max-width: 10vw;
}
main div#lsb{
    min-width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(70,70,69,0.24);
}
main div#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 70vw;
}