*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 5px;
}
header{
    min-height: 15vh;
    display: flex;
    justify-content: center;
}
main{
    display: flex;
}
div#header{
    text-align: center;
    min-height: 12vh;
    padding: 10px;
}
div#lsb{
    min-width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(70,70,69,0.24);
}
div#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}