div#main{
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    justify-content: center;
    align-items: center;
}
form input{
    margin: 10px;
}
form input[type='submit']{
    min-width: 100px;
}