table{
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 30px;
}
table th,tr,td{
    border: 1px solid black;
    padding: 10px;
}
table td{
    max-width: 19vw;
}
main div#main{
    display: flex;
    flex-direction: column;
    min-width: 75vw;
    align-items: center;
}
div#table{
    max-width: 84vw;
    overflow: scroll;
}