*{
    margin: 0 5px;
    padding: 0;
}

/*====================================================|Header|========================================================*/

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
header a{
    text-decoration: none;
    color: white;
    min-height: 132px;
    padding-top: 5%;
}
header div {
    display: flex;
    min-width: 25%;
    justify-content: space-around;
    align-items: center;
}
header img#main_logo{
    width: 15vw;
}

/*==================================================|End of Header|===================================================*/

/*======================================================|Nav|=========================================================*/

nav{

    background-color: black;
    color: white;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

/*==================================================|End of Nav|======================================================*/

/*=====================================================|Body|=========================================================*/

body main{
    min-height: 80vh;
}
main div.main_photo{
    display: flex;
    justify-content: space-between;
}
/*==================================================|End of Body|=====================================================*/

/*====================================================|Footer|========================================================*/

footer{
    background-color: rgba(43,43,43,0.1);
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: black;
}

/*=================================================|End of Footer|====================================================*/